.cart-container {
  margin-left: auto;
  cursor: pointer;
  img {
    width: 30px;
  }
  .cart-count {
    margin-left: -15px;
    background-color: white;
    font-weight: 60;
    font-size: small;
    color: black;
    padding-right: 1px;
    border-radius: 1px;
  }
}
.cart__icon {
  color: black;
  border-radius: 20px;
  font-size: px;
  margin-right: 10px;
}