.cart-container {
  margin-left: auto;
  cursor: pointer;

  .cart-count {
    margin-left: -15px;
    background-color: white;
    font-weight: 600;
    color: black;
    padding-right: 4px;
    border-radius: 10px;
  }
}

.cart__icon {
  color:black;
  border-radius: 20px;
  font-size: 35px;
  margin-right: 10px;
}
